#for d in $dists
Suite: $d
Version: 9.04
Codename: $d
Architectures: i386 amd64 source
Components: main
Description: Shenzhou $d
DebIndices: Packages Release . .gz .bz2
DscIndices: Sources Release .gz .bz2
Tracking: all includechanges keepsources

#end for
