#for d in $dists
Suite: $d
Version: 9.04
Codename: $d
Architectures: i386 amd64 source
Components: main
Description: Shenzou $d
SignWith: repository@localhost
DebIndices: Packages Release . .gz .bz2
DscIndices: Sources Release .gz .bz2
Tracking: all includechanges keepsources
Log: logfile
  --changes ${build_sources_cmd}

#end for
